.btn {
  border-width: 2px;
}
body {
  font-family: Schibsted Grotesk;
}
.display-1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 4.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.71875rem;
}
.display-5 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.1875rem;
}
.display-7 {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.15rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.4rem;
    font-size: calc( 1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #b79b6c !important;
}
.bg-success {
  background-color: #bdcdc6 !important;
}
.bg-info {
  background-color: #e7d8d6 !important;
}
.bg-warning {
  background-color: #c08598 !important;
}
.bg-danger {
  background-color: #33363b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b79b6c !important;
  border: none  !important;
  color: #ffffff !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #896f43 !important;
  border: none  !important;
  box-shadow: none !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #896f43 !important;
  border-color: #896f43 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e4eedb !important;
  border: none  !important;
  color: #638941 !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b8d2a0 !important;
  border: none  !important;
  box-shadow: none !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #638941 !important;
  background-color: #b8d2a0 !important;
  border-color: #b8d2a0 !important;
}
.btn-info,
.btn-info:active {
  background-color: #e7d8d6 !important;
  border: none  !important;
  color: #784c46 !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #c7a49f !important;
  border: none  !important;
  box-shadow: none !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #784c46 !important;
  background-color: #c7a49f !important;
  border-color: #c7a49f !important;
}
.btn-success,
.btn-success:active {
  background-color: #bdcdc6 !important;
  border: none  !important;
  color: #ffffff !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #8ca89b !important;
  border: none  !important;
  box-shadow: none !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #8ca89b !important;
  border-color: #8ca89b !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #c08598 !important;
  border: none  !important;
  color: #ffffff !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9d516a !important;
  border: none  !important;
  box-shadow: none !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9d516a !important;
  border-color: #9d516a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #33363b !important;
  border: none  !important;
  color: #ffffff !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #0b0b0c !important;
  border: none  !important;
  box-shadow: none !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0b0b0c !important;
  border-color: #0b0b0c !important;
}
.btn-white,
.btn-white:active {
  background-color: #efefef !important;
  border: none  !important;
  color: #707070 !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ffffff !important;
  background-color: #c4c4c4 !important;
  border: none  !important;
  box-shadow: none !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #707070 !important;
  background-color: #c4c4c4 !important;
  border-color: #c4c4c4 !important;
}
.btn-black,
.btn-black:active {
  background-color: #010101 !important;
  border: none  !important;
  color: #ffffff !important;
  box-shadow: none !important;
  font-weight: 700 !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border: none  !important;
  box-shadow: none !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  padding: 0 0.5rem 0 0 !important;
  background-color: transparent !important;
  min-height: auto !important;
  border: none;
  border-bottom: 2px solid #b79b6c;
  color: #b79b6c;
  border-radius: 0 !important;
}
.btn-primary-outline .mbr-iconfont,
.btn-primary-outline:active .mbr-iconfont {
  transition: 0.3s transform !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #896f43 !important;
  background-color: transparent!important;
  border-color: #896f43 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b79b6c !important;
  border-color: #b79b6c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  padding: 0 0.5rem 0 0 !important;
  background-color: transparent !important;
  min-height: auto !important;
  border: none;
  border-bottom: 2px solid #e4eedb;
  color: #e4eedb;
  border-radius: 0 !important;
}
.btn-secondary-outline .mbr-iconfont,
.btn-secondary-outline:active .mbr-iconfont {
  transition: 0.3s transform !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b8d2a0 !important;
  background-color: transparent!important;
  border-color: #b8d2a0 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #638941 !important;
  background-color: #e4eedb !important;
  border-color: #e4eedb !important;
}
.btn-info-outline,
.btn-info-outline:active {
  padding: 0 0.5rem 0 0 !important;
  background-color: transparent !important;
  min-height: auto !important;
  border: none;
  border-bottom: 2px solid #e7d8d6;
  color: #e7d8d6;
  border-radius: 0 !important;
}
.btn-info-outline .mbr-iconfont,
.btn-info-outline:active .mbr-iconfont {
  transition: 0.3s transform !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #c7a49f !important;
  background-color: transparent!important;
  border-color: #c7a49f !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #784c46 !important;
  background-color: #e7d8d6 !important;
  border-color: #e7d8d6 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  padding: 0 0.5rem 0 0 !important;
  background-color: transparent !important;
  min-height: auto !important;
  border: none;
  border-bottom: 2px solid #bdcdc6;
  color: #bdcdc6;
  border-radius: 0 !important;
}
.btn-success-outline .mbr-iconfont,
.btn-success-outline:active .mbr-iconfont {
  transition: 0.3s transform !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #8ca89b !important;
  background-color: transparent!important;
  border-color: #8ca89b !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #bdcdc6 !important;
  border-color: #bdcdc6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  padding: 0 0.5rem 0 0 !important;
  background-color: transparent !important;
  min-height: auto !important;
  border: none;
  border-bottom: 2px solid #c08598;
  color: #c08598;
  border-radius: 0 !important;
}
.btn-warning-outline .mbr-iconfont,
.btn-warning-outline:active .mbr-iconfont {
  transition: 0.3s transform !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #9d516a !important;
  background-color: transparent!important;
  border-color: #9d516a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c08598 !important;
  border-color: #c08598 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  padding: 0 0.5rem 0 0 !important;
  background-color: transparent !important;
  min-height: auto !important;
  border: none;
  border-bottom: 2px solid #33363b;
  color: #33363b;
  border-radius: 0 !important;
}
.btn-danger-outline .mbr-iconfont,
.btn-danger-outline:active .mbr-iconfont {
  transition: 0.3s transform !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #0b0b0c !important;
  background-color: transparent!important;
  border-color: #0b0b0c !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #33363b !important;
  border-color: #33363b !important;
}
.btn-black-outline,
.btn-black-outline:active {
  padding: 0 0.5rem 0 0 !important;
  background-color: transparent !important;
  min-height: auto !important;
  border: none;
  border-bottom: 2px solid #010101;
  color: #010101;
  border-radius: 0 !important;
}
.btn-black-outline .mbr-iconfont,
.btn-black-outline:active .mbr-iconfont {
  transition: 0.3s transform !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #010101 !important;
  border-color: #010101 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  padding: 0 0.5rem 0 0 !important;
  background-color: transparent !important;
  min-height: auto !important;
  border: none;
  border-bottom: 2px solid #efefef;
  color: #efefef;
  border-radius: 0 !important;
}
.btn-white-outline .mbr-iconfont,
.btn-white-outline:active .mbr-iconfont {
  transition: 0.3s transform !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #c4c4c4 !important;
  background-color: transparent!important;
  border-color: #c4c4c4 !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.text-primary {
  color: #b79b6c !important;
}
.text-secondary {
  color: #e4eedb !important;
}
.text-success {
  color: #bdcdc6 !important;
}
.text-info {
  color: #e7d8d6 !important;
}
.text-warning {
  color: #c08598 !important;
}
.text-danger {
  color: #33363b !important;
}
.text-white {
  color: #FFFFFF !important;
}
.text-black {
  color: #24262b !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #7f673e !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #b0cd96 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #83a194 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #c19b96 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #934c63 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #040404 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #bcbcbc !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #b79b6c;
}
.nav-tabs .nav-link:not(.active) {
  color: #24262b;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e7d8d6;
}
.alert-warning {
  background-color: #c08598;
}
.alert-danger {
  background-color: #33363b;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b79b6c;
  border-color: #b79b6c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #b79b6c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e1d5c2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ebd9df;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #a4a8b0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.71875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #b79b6c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Schibsted Grotesk', sans-serif;
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.71875rem;
}
blockquote {
  border-color: #b79b6c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b79b6c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #b79b6c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b79b6c;
  border-bottom-color: #b79b6c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #b79b6c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #e4eedb !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23b79b6c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: .3s all;
  font-weight: 600 !important;
}
a:hover {
  background-image: none !important;
}
.container {
  position: relative;
  max-width: 1380px;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
.container-fluid {
  max-width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
}
@media (max-width: 1399px) {
  .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 1199px) {
  .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.row {
  margin-left: -16px;
  margin-right: -16px;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 16px;
  padding-right: 16px;
}
.mbr-section-btn .btn {
  position: relative;
  min-width: 100px;
  min-height: 52px;
  padding: 10px 30px;
  border-radius: 3px;
  transition: all .3s;
}
.mbr-section-btn .btn .mbr-iconfont {
  transition: transform .3s;
}
.mbr-section-btn .btn:hover .mbr-iconfont {
  transform: translateX(0.5rem);
}
.mbr-section-btn .btn-danger,
.mbr-section-btn .btn-black {
  color: #FFFFFF;
}
.mbr-section-btn .btn-danger:hover,
.mbr-section-btn .btn-black:hover {
  color: #FFFFFF;
  background-color: #b79b6c !important;
}
.mbr-section-btn .btn-black-outline:hover,
.mbr-section-btn .btn-white-outline:hover {
  color: #b79b6c !important;
  border-color: #b79b6c !important;
}
.cid-tUQf6cSBTs.popup-builder {
  background-color: #ffffff;
}
.cid-tUQf6cSBTs.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-tUQf6cSBTs.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  height: 100%;
}
.cid-tUQf6cSBTs .modal-content,
.cid-tUQf6cSBTs .modal-dialog {
  height: auto;
}
.cid-tUQf6cSBTs .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-tUQf6cSBTs .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-tUQf6cSBTs .form-wrapper .mbr-form .form-group,
  .cid-tUQf6cSBTs .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-tUQf6cSBTs .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-tUQf6cSBTs .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tUQf6cSBTs .mbr-text {
  text-align: center;
}
.cid-tUQf6cSBTs .pt-0 {
  padding-top: 0 !important;
}
.cid-tUQf6cSBTs .pb-0 {
  padding-bottom: 0 !important;
}
.cid-tUQf6cSBTs .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-tUQf6cSBTs .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-tUQf6cSBTs .modal-open {
  overflow: hidden;
}
.cid-tUQf6cSBTs .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-tUQf6cSBTs .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-tUQf6cSBTs .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
  max-width: 100%;
  height: 100%;
  margin: 0;
}
.cid-tUQf6cSBTs .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-tUQf6cSBTs .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-tUQf6cSBTs .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-tUQf6cSBTs .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-tUQf6cSBTs .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0;
  height: 100%;
  overflow: auto;
}
.cid-tUQf6cSBTs .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-tUQf6cSBTs .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-tUQf6cSBTs .modal-backdrop.fade {
  opacity: 0;
}
.cid-tUQf6cSBTs .modal-backdrop.show {
  opacity: .5;
}
.cid-tUQf6cSBTs .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-tUQf6cSBTs .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tUQf6cSBTs .modal-header {
    padding: 1rem;
  }
}
.cid-tUQf6cSBTs .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-tUQf6cSBTs .modal-header .close svg {
  fill: #353535;
}
.cid-tUQf6cSBTs .modal-header .close:hover {
  opacity: 1;
}
.cid-tUQf6cSBTs .modal-header .close:focus {
  outline: none;
}
.cid-tUQf6cSBTs .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-tUQf6cSBTs .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-tUQf6cSBTs .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tUQf6cSBTs .modal-body {
    padding: 1rem;
  }
}
.cid-tUQf6cSBTs .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tUQf6cSBTs .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tUQf6cSBTs .modal-footer {
    padding: 1rem;
  }
}
.cid-tUQf6cSBTs .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-tUQf6cSBTs .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-tUQf6cSBTs .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-tUQf6cSBTs .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-tUQf6cSBTs .modal-lg,
  .cid-tUQf6cSBTs .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-tUQf6cSBTs .modal-xl {
    max-width: 1140px;
  }
}
.cid-tUQf6cSBTs .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-tUQf6cSBTs .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-tUQf6cSBTs .form-group {
  margin-bottom: 1rem;
}
.cid-tUQf6cSBTs .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-tUQf6cSBTs .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-tUQf6cSBTs .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-tUQf6cSBTs .mbr-section-btn {
  margin: 0;
}
.cid-tUQf6cSBTs .mbr-section-btn .btn {
  margin: 0;
}
.cid-tUQ4H2Y1Pu {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tUQ4H2Y1Pu .row {
  flex-direction: row-reverse;
}
.cid-tUQ4H2Y1Pu .card-wrapper {
  padding-right: 2rem;
}
@media (min-width: 1400px) {
  .cid-tUQ4H2Y1Pu .container {
    max-width: 1162px;
  }
}
@media (max-width: 991px) {
  .cid-tUQ4H2Y1Pu .card {
    margin-bottom: 2rem !important;
  }
  .cid-tUQ4H2Y1Pu .card-wrapper {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .cid-tUQ4H2Y1Pu .link-wrap {
    align-items: center;
  }
}
.cid-tUQ4H2Y1Pu .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tUQ4H2Y1Pu .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-tUQ4H2Y1Pu .btn {
  padding: 13px 37px 17px;
  border-radius: 100px;
}
.cid-tUQ4H2Y1Pu .btn:hover,
.cid-tUQ4H2Y1Pu .btn:focus {
  border-color: #f4aee6 !important;
  background-color: #f4aee6 !important;
}
.cid-tUQ4H2Y1Pu .card-title {
  color: #000000;
}
.cid-tUQ4H2Y1Pu .mbr-subtile {
  color: #000000;
}
.cid-tUQ4H2Y1Pu .price {
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tUQ4H2Y1Pu .padding {
    padding-right: 110px;
  }
}
.cid-tDSB3Rg7OV {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tDSB3Rg7OV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDSB3Rg7OV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDSB3Rg7OV .mbr-section-head {
  margin-bottom: 32px;
}
.cid-tDSB3Rg7OV .mbr-section-title {
  color: #24262b;
}
.cid-tDSB3Rg7OV .mbr-section-subtitle {
  margin-top: 16px;
  color: #24262b;
}
.cid-tDSB3Rg7OV .cards-row {
  row-gap: 32px;
}
.cid-tDSB3Rg7OV .card {
  border-radius: 0;
}
.cid-tDSB3Rg7OV .card-wrapper {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  background: #efefef;
}
@media (max-width: 991px) {
  .cid-tDSB3Rg7OV .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-tDSB3Rg7OV .icons-wrap {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.4rem;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.cid-tDSB3Rg7OV .icons-wrap .iconfont-wrapper {
  flex-shrink: 0;
}
.cid-tDSB3Rg7OV .icons-wrap .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 18px;
  color: #b79b6c;
}
.cid-tDSB3Rg7OV .card-title {
  margin-bottom: 8px;
  color: #24262b;
}
.cid-tDSB3Rg7OV .card-subtitle {
  color: #24262b;
}
.cid-tDSB3Rg7OV .card-bottom-wrap {
  margin-top: 24px;
}
.cid-tDSB3Rg7OV .card-name {
  color: #24262b;
}
.cid-tDSB3Rg7OV .card-text {
  color: #24262b;
}
.cid-tUQjmRnJy4 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tUQjmRnJy4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tUQjmRnJy4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tUQjmRnJy4 .container,
.cid-tUQjmRnJy4 .container-fluid {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e4eedb;
}
.cid-tUQjmRnJy4 .col-text {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tUQjmRnJy4 .col-text {
    max-width: 624px;
  }
}
.cid-tUQjmRnJy4 .mbr-section-title {
  color: #24262b;
}
.cid-tUQjmRnJy4 .mbr-section-subtitle {
  margin-top: 8px;
  color: #24262b;
}
.cid-tUQjmRnJy4 .mbr-text {
  margin-top: 24px;
  color: #24262b;
}
.cid-tUQjmRnJy4 .cards {
  margin-top: 2rem;
  row-gap: 32px;
}
.cid-tUQjmRnJy4 .card {
  border-radius: 0;
}
@media (min-width: 992px) {
  .cid-tUQjmRnJy4 .card:not(:first-child) {
    border-left: 1px solid #c1c1c1;
  }
}
.cid-tUQjmRnJy4 .card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cid-tUQjmRnJy4 .mbr-iconfont {
  display: block;
  font-size: 56px;
  color: #24262b;
  margin-bottom: 1rem;
}
.cid-tUQjmRnJy4 .card-title {
  color: #24262b;
}
